* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    }
    
    
    body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgb(43, 40, 226);
    
    background: linear-gradient(227deg, #1126dd, #17eb22, #1dd6ee);
    background-size: 600% 600%;
    
        
    animation: AnimationName 30s ease infinite;
    }
    
    @keyframes AnimationName {
        0%{background-position:0% 99%}
        50%{background-position:100% 2%}
        100%{background-position:0% 99%}
    }

    .area {
    margin: 6rem auto;
    text-align: center;
    }
    
    .area .title {
    font-size: 3rem;
    color: rgb(229, 245, 9);
    text-align: center;
    padding: .6rem 1.4rem;
    border-radius: .8rem;
    }
    
    
    .area .btnStart {
    margin: 10rem auto;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
    box-shadow: 0 .1rem .2rem rgba(195, 236, 11, 0.8);
    color: rgb(18, 227, 235);
    border-radius: 1.2rem;
    cursor: pointer;
    background-image: linear-gradient(to right,
    #bae73f 0%,
    #f70707 51%,
    #bae73f 100%)
    }
    
    
    .area .btnStart:hover {
    box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .7);
    }
    
    
    .area .modal {
    position: absolute;
    top: -120%;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    label {
    padding: .6rem;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: .2rem;
    color: rgb(27, 216, 37);
    }
    
    
    .area .modal.active {
    top: 0;
    height: 100vh;
    }
    
    
    .modal input[type=text] {
    width: 55px;
    padding: .6rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.4rem;
    border-radius: .8rem;
    color: rgb(1, 1, 90);
    border: .1rem solid rgb(31, 164, 204);
    }
    
    .modal input[type=submit]:hover {
    box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .3);
    }
    
    
    .block {
    display: flex;
    justify-content: center;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: .1rem solid rgb(215, 238, 11);
    font-size: 2.5rem;
    text-align: center;
    color: rgb(188, 228, 43);
    }
    
    
    .control {
    position: absolute;
    bottom: 3rem;
    left: 41%;
    }
    
    
    .btn_restart,
    .btn_quit {
    padding: .6rem 1.6rem;
    font-size: 1.2rem;
    margin: 0 .3rem;
    box-shadow: 0 .1rem .2rem rgb(1, 1, 90);
    color: #fff;
    border-radius: 1.2rem;
    cursor: pointer;
    }
    
    .btn_restart {
    background-image: linear-gradient(to right,
    #1f0dc5 0%,
    #2cec12 51%,
    #1f0dc5 100%)
    }
    
    .btn_restart:hover {
    color: rgb(1, 1, 90);
    box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2);
    }
    
    
    .btn_quit {
    background-image: linear-gradient(to right,
    #dae90a 0%,
    #f10c27 51%,
    #dae90a 100%);
    }
    
    .btn_quit:hover {
    color: rgb(1, 1, 90);
    box-shadow: 0 -.3rem .5rem rgba(255, 255, 255, .2);
    }
    
    .winner {
    position: absolute;
    top: -120%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    
    .winner h2 {
    font-size: 2rem;
    background: linear-gradient(#1cdfe6 0%,
    #09f1bf 51%,
    #1cdfe6 100%);
    padding: 1.8rem 2.2rem;
    margin: 2rem;
    border-radius: 1.2rem;
    color: rgb(1, 1, 90)
    }
    .winner.active {
        top: 0;
        height: 100vh;
    }
    .fa-solid {
        color: rgb(1, 1, 90);
    }
    @media (max-width: 1200px) {
    .control {
    left: 10%;
    }
    }
    @media (max-width: 560px) {
    .area .title {
    font-size: 2, 4rem;
    }
    
    label {
    margin-top: 5rem;
    }
    
    .control {
    bottom: 1rem;
    }
    }
    @media (max-width: 360px) {
    .area .title {
    font-size: 2rem;
    }
    
    .area .btnStart {
    font-size: 1rem;
    padding: 1rem 1.8rem;
    }
    
    }


